*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

background-color: #ffffff;
font-family: 'Antonio', sans-serif ;
font-weight: 500;
}

/*Header*/
 .titulo{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:white;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
}
.titulo .h1{
    font-size: 80px;

}

/*contenedor*/

.container{
    background-color: rgb(0, 0, 0);
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0px;
    position: relative;
}

.container > .logotipo, img{
    width: 100px;
    height: 100px;
}

.container > .contenido,
.container > .aside,
.container >  div,
.container > .footer{

    background-color: rgb(8, 8, 8);
    padding: 20px;
    border: 1px solid black;
}
/*NAVEGADOR*/

.bg-color {
    background-color: #a92424;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 5;
    
}
.conteiner-color {
    height: 40px;
    background-color: #a92424;
    
}
.hover{
    margin-left: 40px;
    font-family: 'Antonio', sans-serif;
}
.inicio{
    color: white;
}
.inicio:hover{
    color: #000000;
    transition: all 500ms;
    transform: scale(1.1);
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link{
 color: #000000;
}
.color-nav{
    background-color: #a92424;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
    transition: all 500ms;
    transform:scaleY(1.1)
}
.icono{
    border: none;
}

/*Texto animado*/
.container .texto1 {
    margin-left: 42%;
    margin-top: 5%;
    width: 700px;
    height: 60px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    overflow: hidden;
    padding-top: 0;
    position: inherit;
    background-color: #000000;
    font-family: 'Antonio', sans-serif;
}
.textos{
    list-style: none;
    padding-left: 5px;
    animation: cambiar 18s infinite;
    color: #ffffff;
}
@keyframes cambiar {
    0%{ margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -55px;}
    50%{margin-top: -55px;}

    55%{margin-top: -110px;}
    80%{margin-top: -110px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40%;}

    100%{margin-top: 0;}

}

/*vitrina de estilos*/


.vitrina{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1/6;
    justify-content:center;
    gap: 5px;
    margin-top: 0px;
}


/*efecto mouse sobre imagen*/

.vitrina .imagenes{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    

}
.vitrina .imagenes img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; 
    
}

.vitrina .imagenes .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.521);
    transition: all 500ms ease-out;
    text-align: center;
    opacity: 0;
    justify-content: center;
    align-items: center;
    
    }

.vitrina .imagenes:hover>.capa {
    opacity: 1;
}

    
.vitrina .imagenes .capa h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 120px;
    margin-top: 250px;
    font-size: 60px;
    font-family: 'Antonio', sans-serif;

}
.vitrina .imagenes:hover > img{
    transform: scale(1.1);
}

/*contenidos*/
.container>.contenido {
    grid-column: span 3;
}

.contenido>.article {
    background-color: darkgray;
    padding: 10px;
    margin-top: 5px;
    color: black;
}

.article>p {
    padding: 10px;
}

.container>.aside {
    grid-column: span 2;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.img_aside {
    width: 100%;
    margin-top: 5px;
}


/*footer*/
.container .footer {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    

}
.footer .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
}
.p_footer{
  color: #d3cfcf;
  position: absolute;
  margin-top: 90px;

}

.facebook img{
    height: 50px;
    width: 50px;
    
}
.instagram img {
    height: 60px;
    width: 60px;
}
.twitter img {
    height: 60px;
    width: 60px;
}
.whatsapp img{
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1350px) {
  
    .container .texto1 { 
       margin-left: 18%;
    }
        .titulo .h1 {
            font-size: 70px;
    
        }
}
@media screen and (max-width: 1000px) {
.container{
    background-color: rgb(0, 0, 0);
    width: 900px;
}

.ul_nav .a_nav{
    padding: 0;
}
.container .texto1 {
    display: none;
}

.vitrina {
    margin-top: 50px;
}

}
@media screen and (max-width: 768px){
.container .texto1 {
        display: none;
    }
 .titulo .h1 {
             font-size: 50px;
    
         }
.container .navegador {
        
        background-color: rgb(231, 202, 202);
        border-radius: 8px;
        position: absolute;
        left: 0;
        margin-top: -250px;
        width: 200px;
        height: 50%;
        padding-bottom: 3px;
        opacity: 0.9;
        z-index: 6;    
}

.header {
     text-align: center;
 }

  .container .contenido{
    grid-column: 1/-1;
  }
  .container .aside{
    grid-column: 1/-1;
  }
  .container .vitrina{
    grid-column: 1/-1;
    
  }
  .p_footer{
    margin-top: 110px;
    font-size: 11px;
  }
  
}
